.infUtente__root{
    position: relative;

    left: 33%;
}

.infUtente__loading{
height: 10em;
    position: relative
}

.infUtente__logoLoading{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
