.root{

    background-color: blue;

}


.DatePickerRegistrazione {

    align-self: auto;
    width: 200px;
    position: relative;
    top: 20px;
    width: 200px;

}

.NavigationBar {

    color: black;
}
